/* main.css */

/* These are the colors and fonts used throughout the webpage.
 * I've listed them here so that a user may easily
 * do a search-and-replace for these to change the site theme.
 *   'Roboto',sans-serif; Font for the title text
 *   'Roboto-Slab',serif; Font for the body text 
 *   #fafafa; Background color of the site
 *   #505050; Foreground (text) color of the site
 *   #52739e; Navy, "Template" in the logo, current page in navigation, special titles in the Program
 *   #b2132e; Reddish, "Conference" in the logo, hover color for links
 *   #813c54; Heading color, titles in the Program
 *   #b8860b; Dark Goldenrod, color for links
 */

@import url('https://fonts.googleapis.com/css?family=Roboto%7CRoboto+Slab');

*{
    border:0;
    font:inherit;
    font-size:1em;
    margin:0;
    padding:0;
    vertical-align:baseline;
}

body{
    background-color: #fafafa;
    background-size: cover;
    background-attachment: fixed;
    color: #0a0000; 
    text-align:left;
    font-family:'Roboto',sans-serif;
    font-size:1em;
    line-height:1.5em;
    margin: 60px auto;
    width: 1000px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1;
  }

#banner {
    position: relative;
  }
  
  .logo {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 9999;
    width: 150px; /* Adjust the width as desired */
    height: auto;  
  }
  
  /* Rest of your existing CSS code for the banner section */
  
a{color: #826706; text-decoration:none;}
a.current{color: #964273;}
a.current:hover{color: #e82945;}
a:hover{color: #b2132e;}
a:active{color: #e82945;}
h2{clear:left; color: #5e0a69; margin:1.5em 0em 1em 0em; font-family:'Roboto Slab',serif; text-shadow: 1px 1px 2px #d0d0d0;text-align: left;}
h3{clear:left; color: #070007; margin:1.5em 0em 1em 0em; font-family:'Roboto Slab',serif; text-shadow: 1px 1px 2px #d0d0d0;text-align: left;}
h1{clear:left; color: #260776; margin:1.5em 0em 1em 0em; font-family:'Roboto Slab',serif; text-shadow: 1px 1px 2px #d0d0d0;text-align: center; font-size: 56px; margin-bottom: 80px;}
h4{clear:left; color: #070007; margin:1.5em 0em 1em 0em; font-family:'Roboto Slab',serif; text-shadow: 1px 1px 2px #d0d0d0;text-align: center; font-size: 28px; }
h5{clear:left; color: #070007; margin:1.5em 0em 1em 0em; font-family: 'fantasy' ; text-shadow: 1px 1px 2px #d0d0d0;text-align: left; font-size: 17px;}
h6{clear:left; color: #070007; margin:1.5em 0em 1em 0em; font-family: 'math' ; text-shadow: 1px 1px 2px #d0d0d0;text-align: left; font-size: 17px;}
h1{font-size:2.67em;}
h2{font-size: 1.3em;font-weight: bold;}
h3{font-size:1.67em;}
h4{font-size:1.33em;}
p{list-style:none; color: #392e3b; margin:24px auto 24px auto; padding:0px; width:900px; text-align:left;font-size: 20px;}
li a, p a {text-decoration:underline; text-decoration-color:#b8860b;}
ul{list-style:none; margin:24px auto 24px auto; padding:0px; width:800px; text-align:left;}
ul li{list-style:none; margin:0px auto 0px auto; padding:0px; text-align:left;}
i,em{font-style:italic;}
b,strong{font-weight:bold;}
sup{
    vertical-align: super;
    font-size: 0.8em;
    line-height: 0;
}
sub{
    vertical-align: sub;
    font-size: 0.8em;
    line-height: 0;
}
table{
    width: 1000px;
    margin: 12px auto 24px auto;
    float: center;
    /* UNCOMMENT THIS FOR DEBUGGING THE ALIGNMENT */
    /*border: 1px solid black;*/
}
th,td{
    text-align: left;
    /* UNCOMMENT THIS FOR DEBUGGING THE ALIGNMENT */
    /*border: 1px solid black;*/
}

/* Website Banner */
.banner {position: relative; font-family:'Roboto Slab',serif;}
.top-left {font-size:5.33em; color: #505050; background: #fafafa; text-align: center; width: 1000px; height: 67px; position: absolute; padding: 36px 0 0 0; top: 0px;left: 0; right: 0; margin: auto;}
.bottom-right {font-size:2.33em; color: #fafafa; line-height: 1.5em; width: auto; height: 100px; padding: 0px 27px 27px 0px; text-align: right; position: absolute; bottom: 0px; right: 0px; text-shadow: 0px 0px 6px #000000;}

/* ACM-W Title Logo */
.title1{color: #110104; text-shadow: 1px 1px 3px #c0c0c0; margin-bottom: 10px;} 
.title2{color: #e53bce; text-shadow: 1px 1px 3px #c0c0c0; margin-top: 10px;}
.title3{color: #9e0808; text-shadow: 1px 1px 3px #c0c0c0;}
.space {
    display: inline-block;
    width: 30px; /* Adjust the width to control the space size */
}

/* Navigation Links (Home, Registration, etc) */
table.navigation{width:800px; }
td.navigation{font-size:1.67em; white-space:nowrap; width:20%; text-align:center; vertical-align:middle; padding:0px 0px 0px 0px;}

/* board Images */
table.sponsors{width:200px;float: left; margin-right: 10px;}
td.sponsor{white-space:nowrap; width:33%; text-align:center; vertical-align:middle; padding:0px 0px 0px 0px;}
td.sponsor img{width: 100%}

/* The Table on the events Page */
td.room{padding: 4px 12px 4px 4px; width: 90%; vertical-align:bottom; font-size:1.67em; color: #52739e; height:32px;}
td.date{white-space:nowrap; width:130px; text-align:right; vertical-align:top; padding:4px 16px 0px 0px;}
td.title{padding: 4px 12px 4px 4px; width: 90%; vertical-align:top; font-size:1.5em; color: #813c54; height:32px; font-family:'Roboto Slab',serif; text-shadow: 1px 1px 2px #d0d0d0; }
td.title-special{padding: 4px 12px 4px 4px; width: 90%; vertical-align:top; font-size:1.67em; color: #52739e; height:32px; font-family:'Roboto Slab',serif; text-shadow: 1px 1px 2px #d0d0d0;}
td.speaker{padding: 4px 12px 4px 4px; font-style: italic; font-size:1em; max-height:999999px}
td.abstract{padding: 4px 12px 12px 4px; font-size:1em; max-height:999999px}
td.abstract img{display: block; margin: 4px auto 8px auto}
table.plenary{padding-top: 8px; background: #ffffff;}

/* Registration and Directions iframes and Images */
iframe.registration{display:block; margin:1em auto 2em auto; width:700px; height:1400px; border:none;}
iframe.directions{display:block; margin:1em auto 2em auto; width:800px; height:400px; border:none;}
img.center{display:block; width:67%; margin:1em auto 2em auto;}

/* Gallery Images */
table.flyers{width:800px;}
td.flyer{white-space:nowrap; width:50%; text-align:center; vertical-align:middle; padding:0px 0px 0px 0px;}
td.sponsor img{width: 100%}

footer{font-size:0.875em; margin-top:15em; text-align:center;left: 0; bottom: 0; width: 100%; padding: 20px; color: white;
    background-color: #8e3038;}

/* My hacky way of making the site mobile-friendly */
@media only screen and (max-width: 1100px) {
    h2{font-size:3.00em;}
    p{font-size:1.5em; line-height:1.5em;}
    th,td,tr{font-size:1.5em; line-height:1.5em;}
    td.date{font-size:1em; padding-top:0.5em;}
    td.navigation{font-size:1.5em; padding:0px 20px 0px 20px;}
    table.footer{font-size:0.33em;}
}

.text-box h2{
    font-size: 45px;
}

/* board page css*/

.headerTitle{
    font-size: 3rem;
    color: #431D70;
    display: flex;
    justify-content: center;
    text-decoration: underline;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    margin-top: 0px;
    text-align: center;
    height: 50vh;
    background-size: cover;
    background-position: center;
}

.profileContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*justify-content: space-around;*/
    justify-content: center;
}

.profileContainer .profileChild{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: black;
    /* margin: 50px; */
    margin: 0 10px;
    border-radius: 12px;
    padding: 10px
}

/*.profileChild .h2{
    font-size: 2rem;
    margin-bottom: 10px;
}

.profileChild .h3{
    margin-top: 0px;
    font-weight: lighter;
}*/
.profileChild img{
    border-radius: 12px;
    width: 285px;
    height: 285px;
    object-fit: cover;
    border: 3px solid #d554b3;
}